<div class="container">
<div class="all-spots">
<h1>Tous les spots autour de <%= @user_input%></h1>
  <div id="map"
      style="width: 100%; height: 200px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
  <div class="py-4 px-3">
    <% @spots.each do |spot| %>
      <%= link_to spot_path(spot) do %>
        <div class="card-product">
          <img src="https://images.unsplash.com/photo-1502680390469-be75c86b636f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8c3VyZnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60" />
          <div class="card-product-infos">
            <h2><%= spot.city_name %></h2><p> est the place to surf aujourd'hui</p>
            <%= link_to spot_favorite_spots_path(spot, page: "index"), method: :post do %>
        <p><i class= "fas fa-heart <%= "active" if spot.liked?(@user) %>" id="blue-heart"></i></p>
      <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
</div>
