<div class="container">
  <h1 class="city-show"><%= @spot.city_name %></h1>
  <div class="day-container">
  <ul class="day-list">
  <li id="today"> Aujourd'hui</li>
  <li> Demain</li>
  </ul>
  <ul class="hour-list">
  <li> Mtn</li>
  <li> 12h</li>
  <li> 13h</li>
  <li> 14h</li>
  <li> 15h</li>
  <li> 16h</li>
  <li> 17h</li>
  </ul>
  <div class= "card-forecast-container">
  <div class="big-card">
    <div class="d-flex align-items-center ml-2">
      <i class="fas fa-water"></i>
      <div>
        <h6>Hauteur de vague</h6>
        <p><%= @minimal_forecats[2] %> m</p>
      </div>
    </div>
    <div class="mr-2 mt-3">
      <div class="d-flex">
        <i class="fab fa-cloudflare"></i>
        <div>
          <h6>Couverture nuageuse</h6>
          <p><%= @minimal_forecats[1] %> %</p>
        </div>
      </div>
      <hr>
      <div class="d-flex">
        <i class="fas fa-sun"></i>
        <div>
          <h6>Température de l'air</h6>
          <p><%= @minimal_forecats[0] %> °C</p>
        </div>
      </div>
    </div>
  </div>
  <div class="card-grid-forecast">
  <% @all_forecast.each do |key, value| %>
    <% if @user[key] %>
      <div class="card-product forecast mt-2">
        <div class="card-product-infos">
            <h2><%= @label_forecast[key] %></h2>
            <% if key.to_s.contain("direction") %>
              <p><i class="fas fa-arrow-down"></i></p>
            <% else %>
              <p><strong> <%=  value %> <%=  @units[key] %></strong></p>
            
            <% end %>
            
        </div>
      </div>
    <% end %>
  <% end %>
  </div>



  <div class="d-flex justify-content-center">
    <div>
      <p style="text-align: center;"><i class="fas fa-plus btn btn-primary mt-5" id="myBtn" data-toggle="modal", data-target="#exampleModal" ></i></p>
      <%= link_to spot_favorite_spots_path(@spot), method: :post, class:"btn btn-primary" do %>
        <p>Add fav spot</p>
      <% end %>

    </div>
  </div>
  </div>

<div class="container">
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modifier mes préférences</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h1>Mes critères personnalisés</h1>
    <div class="form-container">
    <%= simple_form_for @user do |f| %>
      <%= f.input :current_direction, as: :boolean, label: "Direction du courant" %>
      <%= f.input :current_speed, as: :boolean, label: "Vitesse du courant" %>
      <%= f.input :swell_direction, as: :boolean, label: "Direction de la houle" %>
      <%= f.input :swell_height, as: :boolean, label: "Hauteur de houle" %>
      <%= f.input :water_temperature, as: :boolean, label: "Température de l'eau" %>
      <%= f.input :wave_direction, as: :boolean, label: "Direction des vagues" %>
      <%= f.input :wave_period, as: :boolean, label: "Fréquence des vagues" %>
      <%= f.input :wind_wave_height, as: :boolean, label: "Hauteur des vagues au vent" %>
      <%= f.input :wind_direction, as: :boolean, label: "Direction du vent" %>
      <%= f.input :wind_speed, as: :boolean, label: "Vitesse du vent" %>
      <%= f.input :gust, as: :boolean, label: "Rafales" %>
      <%= f.input :precipitation, as: :boolean, label: "Précipitation" %>
      <%= f.input :uv_index, as: :boolean, label: "Indice UV"%>
      <%= f.hidden_field :spot_id, :value => @spot.id %>
      <div class="text-center mb-3">
        <%= f.submit "Valider mes critères", class: "btn btn-dark" %>
      </div>
    <% end %>
  </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  </div>

</div>
</div>
