<div class="container">
  <div class="add-favorite-spot">
    <h1 class="city-show"><%= @spot.city_name %> <%= @validate %></h1>
    <%= link_to spot_favorite_spots_path(@spot), method: :post do %>
          <% if @spot.liked?(@user) %>
            <p>
              <i class= "fas fa-heart active" id="white-heart"></i>
            </p>
          <% else %>
            <p>
              <i class= "far fa-heart blue-heart"></i>
            </p>
          <% end %>
        <% end %>
  </div>
  <div class="conditions-phrase">
    <%= @conditions %>
  </div>
  <div class="day-container">
  <ul class="day-list">
    <% (0..2).each do |d|%>
      <% if DateTime.now.to_date + d == @current_date %>
        <% if d == 1 %>
          <li id="day-today">Demain</li>
        <% elsif d == 2 %>
          <li id="day-today">Après-demain</li>
        <% else %>
          <li id="day-today">Aujourd'hui</li>
        <% end %>
      <% else %>
        <li>
          <%= (link_to "Aujourd'hui", spot_path(@spot, date: d), id: "day-link") if d == 0 %>
          <%= (link_to "Demain", spot_path(@spot, date: d), id: "day-link") if d == 1 %>
          <%= (link_to "Après-demain", spot_path(@spot, date: d), id: "day-link") if d == 2 %>
        </li>
      <% end %>
    <% end %>
  </ul>
  <ul class="hour-list">
    <% (0..23).each do |h|%>
      <% if @current_date == DateTime.now.to_date %>
        <% if h >= @actual_hour %>
          <% if h == @current_hour %>
            <li id="current-hour"><%= "#{h}h" %></li>
          <% else %>
            <li class="hour-list"> <%= link_to "#{h}h", spot_path(@spot, time: h, date: params[:date]), id: "hour-link"  %></li>
          <% end %>
        <% end %>
      <% else %>
        <% if h == @current_hour %>
          <li id="current-hour"><%= "#{h}h" %></li>
        <% else %>
          <li> <%= link_to "#{h}h", spot_path(@spot, time: h, date: params[:date]), id: "hour-link" %></li>
        <% end %>
      <% end %>
    <% end %>
  </ul>
  <div class= "card-forecast-container" id="content">
    <div class="big-card">
      <div class="temperature">
        <p id="temperature"><%= @minimal_forecats[0].round(1) %><span id="degree"> °C</span></p>
      </div>
      <div class="wave-clouds">
      <div class="wave-height">
        <div>
          <i class="fas fa-water"></i>
        </div>
        <div>
          <h6>Hauteur de vague</h6>
          <p><%= @minimal_forecats[2] %> m</p>
        </div>
      </div>
      <div class="clouds">
        <div>
          <i class="fab fa-cloudflare"></i>
        </div>
        <div>
          <h6>Couverture nuageuse</h6>
          <p><%= @minimal_forecats[1] %> %</p>
        </div>
      </div>
      </div>
    </div>
  <div class="card-grid-forecast">
  <% @all_forecast.each do |key, value| %>
    <% if @user[key] %>
      <div class="card-product forecast mt-2">
        <div class="card-product-infos">
            <h2><%= @label_forecast[key] %></h2>
            <% if key.to_s.include?("direction") %>
              <p><i class="fas fa-arrow-down"></i></p>
            <% else %>
              <p><strong> <%=  value %> <%=  @units[key] %></strong></p>

            <% end %>

        </div>
      </div>
    <% end %>
  <% end %>
  </div>



  <div class="d-flex justify-content-center">
    <div>
      <p style="text-align: center;"><i class="btn btn-primary mt-5" id="myBtn" data-toggle="modal", data-target="#exampleModal" >Personnaliser mes critères</i></p>
    </div>
  </div>
  </div>

<div class="container">
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modifier mes préférences</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h1>Mes critères personnalisés</h1>
    <div class="form-container">
    <%= simple_form_for @user do |f| %>
      <%= f.input :current_direction, as: :boolean, label: "Direction du courant" %>
      <%= f.input :current_speed, as: :boolean, label: "Vitesse du courant" %>
      <%= f.input :swell_direction, as: :boolean, label: "Direction de la houle" %>
      <%= f.input :swell_height, as: :boolean, label: "Hauteur de houle" %>
      <%= f.input :water_temperature, as: :boolean, label: "Température de l'eau" %>
      <%= f.input :wave_direction, as: :boolean, label: "Direction des vagues" %>
      <%= f.input :wave_period, as: :boolean, label: "Fréquence des vagues" %>
      <%= f.input :wind_wave_height, as: :boolean, label: "Hauteur des vagues au vent" %>
      <%= f.input :wind_direction, as: :boolean, label: "Direction du vent" %>
      <%= f.input :wind_speed, as: :boolean, label: "Vitesse du vent" %>
      <%= f.input :gust, as: :boolean, label: "Rafales" %>
      <%= f.input :precipitation, as: :boolean, label: "Précipitation" %>
      <%= f.input :uv_index, as: :boolean, label: "Indice UV"%>
      <%= f.hidden_field :spot_id, :value => @spot.id %>
      <div class="text-center mb-3">
      <%= f.submit "Valider mes critères", class: "btn btn-dark" %>
      </div>
    <% end %>
  </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  </div>

</div>
</div>
