<div class="container container-width">
  <div class="fav-spots">
    <h1 class="text-center city-spot">Vos spots préférés</h1>
    <div class="py-4 px-3 container-blue">
      <% @favoritespots.each do |favoritespot| %>
        <%= link_to spot_path(favoritespot.spot_id) do %>
          <div class="card-beach">
            <%# <img src="https://images.unsplash.com/photo-1502680390469-be75c86b636f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8c3VyZnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60" /> %>
            <div class="card-beach-infos">
              <div class="title-bin">
                <h2><%= favoritespot.spot.city_name %></h2>
                <div>
                  <%= link_to favorite_spot_path(favoritespot.id), method: :delete do %>
                    <i class="fas fa-trash-alt pl-1 delete-icon"></i>
                  <% end %>
                </div>
              </div>
                <% if favoritespot.spot.current_forecast.is_validate? %>
                  <p>Les surfeurs ont validé cette météo!</p>
                <% else %>
                  <p><%= favoritespot.spot.current_condition %></p>
                <% end %>
            </div>
            <div data-controller="forecast-validation" class="validate-conditions" >
              <% forecast = Forecast.find_by(spot: favoritespot.spot, time: DateTime.now.in_time_zone('UTC').beginning_of_hour) %>
              <% if favoritespot.spot.validated?(current_user) %>
                <p>J'y suis et je valide cette météo</p><span  data-forecast-validation-target="iconContainer" data-action="click->forecast-validation#validate"> <i href="<%= forecast_validation_forecasts_path(forecast) %>" class="fas fa-check-circle "></i></span>
              <% else %>
                <p>J'y suis et je valide cette météo</p><span  data-forecast-validation-target="iconContainer" data-action="click->forecast-validation#validate"> <i href="<%= forecast_validation_forecasts_path(forecast) %>" class="far fa-check-circle circle-empty "></i></span>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
